.box {
    width: 180px;
    display: inline-block;
    margin: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    vertical-align: top; 
}

dt {
    font-weight: 500; 
    margin-bottom: 4px; 
    color: #333; 
}

